.posterImage{
    height: 600px;
    /* position: relative; */
}

.posterimg {
    height: 38rem;
    margin: auto;
    display: block;
    width: 100%;
    position: relative;
}

.posterImage-overlay {
    position: absolute;
    padding: 5rem;
    bottom: 0%;
    left: 0%;
    /* transform: translate( -50%, -50% ); */
    height: 70%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,1));
    opacity: 1;
    transition: opacity .3s;
}   

.posterImage-overlay:hover {
    opacity: 1;
}

.posterImage-title {
    font-weight: 900;
    font-size: 4rem;
    margin-bottom: 0.4rem;
    text-align: left;
}

.posterImage-runtime {
    font-size: 2rem;
    margin-bottom: 1rem;
    display: flex;
}

.posterImage-rating {
    margin-left: 3rem;
}

.posterImage-decreption {
    font-style: italic;
    font-size: 1rem;
    margin-bottom: 0.25rem;
    display: flex;
    text-align: left;
    width: 50%;
}

@media only screen and (max-width: 992px) {
    .posterImage-title {
        font-weight: 500;
        font-size: 3rem;
    }
    .posterImage-decreption{
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .posterImage-title {
        font-weight: 400;
        font-size: 2rem;
    }
    .posterimg{
        height: 32rem;
    }
}

@media only screen and (max-width: 576px) {
    .posterimg{
        height: 25rem;
    }
    .posterImage-title {
        font-weight: 400;
        font-size: 1.2rem;
    }
    .posterImage-runtime {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        display: flex;
    }
    
    .posterImage-rating {
        margin-left: 1.2rem;
    }
}